aiohttp==3.9.0
aiosignal==1.3.1
annotated-types==0.6.0
anyio==3.7.1
appdirs==1.4.4
attrs==23.1.0
beautifulsoup4==4.12.2
blinker==1.7.0
bs4==0.0.1
cachetools==5.3.2
certifi==2023.11.17
charset-normalizer==3.3.2
click==8.1.7
cssselect==1.2.0
distro==1.8.0
fake-useragent==1.3.0
Flask==3.0.0
frozenlist==1.4.0
google-api-core==2.14.0
google-auth==2.23.4
google-cloud-aiplatform==1.36.4
google-cloud-bigquery==3.13.0
google-cloud-core==2.3.3
google-cloud-resource-manager==1.10.4
google-cloud-storage==2.13.0
google-crc32c==1.5.0
google-resumable-media==2.6.0
googleapis-common-protos==1.61.0
grpc-google-iam-v1==0.12.7
grpcio==1.59.3
grpcio-status==1.59.3
gunicorn==20.1.0
h11==0.14.0
httpcore==1.0.2
httpx==0.25.1
idna==3.4
importlib-metadata==6.8.0
install==1.3.5
itsdangerous==2.1.2
Jinja2==3.1.2
lxml==4.9.3
MarkupSafe==2.1.3
multidict==6.0.4
numpy==1.26.2
openai==1.3.3
packaging==23.2
parse==1.19.1
proto-plus==1.22.3
protobuf==4.25.1
pyasn1==0.5.0
pyasn1-modules==0.3.0
pydantic==2.5.1
pydantic_core==2.14.3
pyee==8.2.2
pypdf==3.17.1
PyPDF2==3.0.1
pyppeteer==1.0.2
pyquery==2.0.0
python-dateutil==2.8.2
replicate==0.20.0
requests==2.31.0
requests-html==0.10.0
rsa==4.9
shapely==2.0.2
six==1.16.0
sniffio==1.3.0
soupsieve==2.5
tqdm==4.66.1
typing_extensions==4.8.0
urllib3==1.26.18
vertexai==0.0.1
w3lib==2.1.2
websockets==10.4
Werkzeug==3.0.1
docx2txt==0.8
yarl==1.9.2
zipp==3.17.0
